<?xml version="1.0"?>
<config>
    <modules>
        <MageProfis_ProductSeals>
            <version>1.0.0.0</version>
        </MageProfis_ProductSeals>
    </modules>
    <global>
        <blocks>
            <productseals>
                <class>MageProfis_ProductSeals_Block</class>
            </productseals>
        </blocks>
        <helpers>
            <productseals>
                <class>MageProfis_ProductSeals_Helper</class>
            </productseals>
        </helpers>
        <models>
            <productseals>
                <class>MageProfis_ProductSeals_Model</class>
            </productseals>
        </models>
        <resources>
            <productseals_setup>
                <setup>
                    <module>MageProfis_ProductSeals</module>
                    <class>MageProfis_ProductSeals_Model_Resource_Setup</class>
                </setup>
            </productseals_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <productseals>
                    <file>mageprofis-productseals.xml</file>
                </productseals>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <productseals>
                                            <title>ProductSeals</title>
                                        </productseals>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
       <translate>
           <modules>
               <translations>
                   <files>
                       <default>MageProfis_ProductSeals.csv</default>
                   </files>
               </translations>
           </modules>
       </translate>
    </adminhtml>
    <default>
        <productseals>
            <general>
                <active>1</active>
            </general>
            <general>
                <folder>wysiwyg/seals</folder>
            </general>
        </productseals>
    </default>
</config>